---
import { Repro } from "../../components/repro/Repro";
---

<html>
  <head>
    <title>repro</title>
  </head>
  <body style="background:#111; color:#eee; font-family:monospace;">
    <Repro client:only="react" />
  </body>
</html>
